{% extends 'base.html' %}

{% block content %}

<main>
    <h1>My Accounts</h1>
    {% if account_list %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for i in account_list %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.number }}</td>
                <td>{{ i.receipts.all | length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    No accounts.
    {% endif %}
</main>

{% endblock content %}
